body {
	font-size: 14px;
	font-family: "PT Sans", "Arial", serif;
	color: black;
	font-weight: normal;
  position: relative;
  background-color: #f2f2f2;
}

h2 {
	font-size: 21px;
	font-weight: bold;
  text-align: center;
  line-height: 26px;
  text-transform: uppercase;
}

h3 {
	font-size: 16px;
	font-weight: bold;
  text-transform: uppercase;
}

legend {
  font-size: 16px;
  font-weight: bold;  
}

p {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header {
  min-height: 56px;
}

header ul {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  min-height: 56px;
}

.wrapper {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 20px #000000;
}

.logo {
  width: 137px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -68px;
}

.main-navigation li {
  width: 240px;
  display: inline-block;
  text-align: center;
 } 

.main-navigation .right {
  float: right;
}

.main-navigation .left {
  float: left;
}

.main-navigation a {
  list-style: none;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  line-height: 56px;
  text-transform: uppercase;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #cccccc;
}

.main-navigation .active {
  color: #604e43;
}

.entry {
  width: 100%;
  height: 510px;
  background: #81b3d2 url("../img/index-entry-background.jpg") no-repeat;
}

.entry figure {
  margin: 0;
}

.entry-mask {
  width: 100%;
  background: url("../img/index-entry-mask.png") no-repeat center bottom;
}

.entry-img {
  width: 448px;
  padding-right: 31%;
  padding-left: 31%;
  padding-top: 78px;
  padding-bottom: 78px;
  text-align: center;
}

.preview {
  text-align: center;
  vertical-align: middle;
  margin-top: 62px;
  margin-bottom: 58px;
}

.advantages {
  min-height: 255px;
  clear: both;
  margin-bottom: 56px;
  background-color: #81b3d2; 
}

.advantages-text {
  float: left;
  width: 400px;
  min-height: 209px;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
  padding-top: 46px;
}

.advantages-img {
  float: right;
  width: 800px;
  height: 255px;
}

.features-item {
  float: left;
  width: 380px;
  text-align: center;
  margin-bottom: 86px;
}

.features-item:last-child {
  margin-right: 0;
}

.house {
  padding-top: 80px;
  position: relative;
}

.house:before {
  content: "";
  position: absolute;
  top: 0;
  left: 40%;
  display: block;
  width: 75px;
  height: 72px;
  background: url("../img/housing.png") no-repeat;
}

.food {
  padding-top: 80px;
  position: relative;
}

.food:before {
  content: "";
  position: absolute;
  top: 0;
  left: 40%;
  display: block;
  width: 75px;
  height: 72px;
  background: url("../img/food.png") no-repeat;
}

.souvenirs {
  padding-top: 80px;
  position: relative;
}

.souvenirs:before {
  content: "";
  position: absolute;
  top: 0;
  left: 40%;
  display: block;
  width: 75px;
  height: 75px;
  background: url("../img/souvenirs.png") no-repeat;
}

.attractions {
  min-height: 255px;
  clear: both;
  margin: 0;
  background-color: #81b3d2;
}

.attractions-img {
  float: left;
  width: 800px;
  height: 255px;
}

.attractions-text {
  float: right;
  width: 400px;
  min-height: 255px;
  min-height: 209px;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
  padding-top: 46px;
}

.pluses {
  clear: both;
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 63px;
  margin-bottom: 56px;
  margin-top: 0;
}

.pluses-text {
  float: left;
  width: 380px;
  text-align: center;
}

.pluses-text:last-child {
  margin-right: 0;
}

.offer {
  width: 568px;
  margin-right: auto;
  left: 30%;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
}

.offer-text {
  text-align: center;
  margin-bottom: 50px;
}

.map {
  background: url("../img/map.jpg") no-repeat 50% 50%;
  width: 100%;
  height: 473px;
  margin-top: 310px;
}

.search form {
  position: relative;
  z-index: 2;
}

.searching-form {
  display: block;
  width: 568px;
  background: #ffffff;
  margin-bottom: 58px;
  padding-top: 58px;
}

.search-form {
  display: block;
  width: 568px;
  margin-right: auto;
  margin-left: auto;
  background-color: #766357;
  padding-top: 34px;
  padding-bottom: 34px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.search-form a {
  list-style: none;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
}

.searching-form input {
  background-color: #f2f2f2;
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  border: none;
  height: 38px;
  padding-left: 8px;
}

.searching-form input:hover {
  background-color: #ebebeb;
}

.searching-form input:focus {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
}

.searching-form label {
  display: block;
  margin-bottom: 28px;
  padding-left: 54px;  
}

input[type="button"] {
  width: 30px;
  height: 30px;
  border: none;
  background: url(images/calendar.png) no-repeat 50% 50%;
}

.plus {
  width: 38px;
  height: 38px;
  border: none;
  background: #f2f2f2 url("../img/plus.png") no-repeat;
  background-position: 50% 50%;
}

.plus:hover {
  background: #f2f2f2 url("../img/plus-pointing.png") no-repeat;
  background-position: 50% 50%;
}

.plus:active {
  background: #f2f2f2 url("../img/plus-push.png") no-repeat;
  background-position: 50% 50%;
}

.minus {
  width: 38px;
  height: 38px;
  border: none;
  background: #f2f2f2 url("../img/minus.png") no-repeat;
  background-position: 50% 50%;
}

.minus:hover {
  background: #f2f2f2 url("../img/minus-pointing.png") no-repeat;
  background-position: 50% 50%;
}

.minus:active {
  background: #f2f2f2 url("../img/minus-push.png") no-repeat;
  background-position: 50% 50%;
}

.date input {
  display: inline-block;
  width: 338px;
  height: 38px;   
}

.people {
  float: left;
  width: 200px;
}

.people input {
  display: inline-block;
  width: 30px;
  height: 38px; 
}

.btn-find {
  width: 458px;
  margin-right: auto;
  background-color: #81b3d2;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #ffffff;
  font-weight: bold;
  margin-right: 45px;
  margin-left: 45px;
  font-size: 21px;
  border: none;
}

.btn-find:hover {
  background-color: #669ec0;
}

.btn-find:active {
  background-color: #5496bd;
  color: #84b4d0;
}

.main-footer {
  clear: both;
}

.tag {
  float: left;
  width: 33%px;
  margin-left: 132px;
  margin-right: 256px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  line-height: 26px;
  text-transform: uppercase;
}

.tag a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  line-height: 120px;
}

.footer-social {
  float: left;
  width: 33%px;
  margin-right: 200px;
  padding-top: 36px;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn-tw {
  background: #81b3d2 url("../img/twitter.png") no-repeat;
  background-position: 50% 50%;
}

.social-btn-tw:hover {
  background: #669ec0 url("../img/twitter.png") no-repeat;
  background-position: 50% 50%;
}

.social-btn-tw:active {
  background: #5496bd url("../img/twitter-push.png") no-repeat;
  background-position: 50% 50%;
}

.social-btn-fb {
  background: #81b3d2 url("../img/facebook.png") no-repeat;
  background-position: 50% 50%;
}

.social-btn-fb:hover {
  background: #669ec0 url("../img/facebook.png") no-repeat;
  background-position: 50% 50%;
}

.social-btn-fb:active {
  background: #5496bd url("../img/facebook-push.png") no-repeat;
  background-position: 50% 50%;
}

.social-btn-yt {
  background: #81b3d2 url("../img/youtube.png") no-repeat;
  background-position: 50% 50%;
}

.social-btn-yt:hover {
  background: #669ec0 url("../img/youtube.png") no-repeat;
  background-position: 50% 50%;
}

.social-btn-yt:active {
  background: #5496bd url("../img/youtube-push.png") no-repeat;
  background-position: 50% 50%;
}

.main-footer {
  min-height: 120px;
}

.footer-copyright {
  float: right;
  width: 33%px;
  margin-right: 100px;
}

.footer-copyright p {
  float: left;
  width: 76px;
  margin-right: 8px;
}

.footer-copyright a {
  float: right;
  width: 114px;
  height: 40px;
  background: #ffffff url("../img/index-htmlacademy.png") no-repeat;
}

.footer-copyright .btn:hover {
  background: #ffffff url("../img/htmlacademy-pointing.png") no-repeat;
}

.footer-copyright .btn:active {
  background: #ffffff url("../img/htmlacademy-push.png") no-repeat;
}

.selection-criteria {
  clear: both;
  background: #81b3d2 url("../img/selection-criteria-background.jpg") no-repeat;
  color: #ffffff;
  margin-bottom: 30px;
}

.infrastructure {
  float: left;
  width: 145px;
  margin-left: 114px;
  margin-right: 95px;
  padding-top: 32px;
  padding-bottom: 38px;
  display: block;
}

legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.dwelling {
  float: left;
  width: 138px;
  padding-top: 32px;
  padding-bottom: 38px;
  display: block;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  line-height: 22px;
  font-size: 14px;
  padding-left: 40px;
  display: inline-block;
  padding-bottom: 15px;
}
 
input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background: url(../img/checkbox-border.png) no-repeat;
  margin-right: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"]:checked + label:before {
  background: url(../img/checkbox-active.png) no-repeat;
}

input[type="checkbox"]:hover + label:before {
  background: url(../img/checkbox-border.png) no-repeat;
}

input[type="checkbox"]:checked:hover + label:before {
  background: url(../img/checkbox-active.png) no-repeat;
}

.price {
  float: right;
  width: 330px;
  padding-top: 32px;
  padding-bottom: 38px;  color: #ffffff;
  text-transform: uppercase;
  margin-right: 72px;
}

.price-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .from,
.price-controls .to {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn:hover {
  color: #000000;
  background: #ffffff;
}  

.searching-result {
  float: left;
  width: 236px;
  clear: both;
  margin-left: 72px;
  font-size: 21px;
  font-weight: bold; 
}

.found {
  display: inline-block;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 26px;
}

.sorting {
  display: inline-block;
  width: 450px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: normal;
}

.sort {
  display: inline-block;
}

.sorting ul {
  display: inline-block;
  width: 350px;
}

.sorting li {
  display: inline-block;
  margin-right: 30px;
  color: #cccccc;
  text-decoration: none;
  border-bottom: 1px dashed #81b3d2;
}

.sorting li:last-child {
  margin-right: 0;
}

.sorting li:hover {
  color: #81b3d2;
}

.sorting li:active {
  color: #000000;
  text-decoration: none;
  border-bottom: none;
}

.up-down {
  float: right;
  width: 48px;
  margin-right: 72px;
}

.triangle-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 11px solid #cccccc;
  margin-right: 12px;
}

.triangle-up:hover {
  border-bottom: 11px solid #000000;
}

.triangle-up:active {
  border-bottom: 11px solid #81b3d2;
}

.triangle-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 11px solid #cccccc;
}

.triangle-down:hover {
  border-top: 11px solid #000000;
}

.triangle-down:active {
  border-top: 11px solid #81b3d2;
}

.housing {
  clear: both;
  border-top: 2px solid #cccccc;
}

.housing:last-child {
  border-bottom: 2px solid #cccccc;
}

.housing-img {
  float: left;
  width: 135px;
  margin-left: 72px;
  padding-top: 30px;
}

.info {
  float: left;
  width: 715px;
  padding-top: 30px;
}

.hotel-name {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  line-height: 26px;
  text-transform: uppercase;
}

.housing-info {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  line-height: 21px;
  text-transform: uppercase;
}

.housing-type {
  float: left;
  width: 96px;
  margin-right: 97px;
}

.btn-detail {
  width: 110px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #81b3d2;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 17px;
  padding-left: 17px;
  margin-right: 6px;
}

.btn-detail:hover {
  background-color: #669ec0;
}

.btn-detail:active {
  background-color: #5496bd;
  color: #84b4d0;
}
.button {
  margin-top: 18px;
}

.btn-book {
  width: 142px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #766357;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 17px;
  padding-left: 17px;
  margin-right: 6px;
}

.btn-book:hover {
  background-color: #604e43;
}

.btn-book:active {
  background-color: #503e33;
  color: #857871;
}

.button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.housing-rating {
  float: right;
  width: 168px;
  min-height: 90px;
  margin-right: 72px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}

.stars {
  background-image: #ffffff url(../img/star.png);
}

.rating {
  display: table-cell;
  background: #eeeeee;
  vertical-align: bottom;
  margin-top: 85px;
  padding-right: 16px;
  padding-left: 16px;
}

fieldset {
  border: none;
}

.hotel-name {
  text-align: left;
  vertical-align: top;
  margin-bottom: 18px;
  padding: 0;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #cccccc;
}

.housing-info {
  clear: both;
}

.housing-type {
  float: left;
  width: 80px;
}

.housing-price {
  float: left;
  width: 70px; 
}

.button {
  clear: both;
}