body {
	font-size: 14px;
	font-family: "PT Sans", "Arial", serif;
	line-height: 26px;
	color: black;
	font-weight: normal;
}

h2 {
	font-size: 21px;
	font-weight: bold;
  text-align: center;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

.container {
  width: 1200px;
}


.main-header {
   margin: 0 auto;
 }

.entry {
  width: 458px;
  min-height: 352px;
  margin-right: auto;
  margin-left: auto;
}

.preview {
  width: 440px;
  margin-right: auto;
  margin-left: auto;
}

.advantages {
  min-height: 255px;
  clear: both;
 }

.advantages-text {
  float: left;
  width: 400px;
  text-align: center;
  vertical-align: middle;
}

.advantages-img {
  float: right;
  width: 800px;
}

.features {
  clear: both;
}

.features-item {
  float: left;
  width: 380px;
  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.attractions {
  min-height: 255px;
  clear: both;
}

.attractions-img {
  float: left;
  width: 800px;
}

.attractions-text {
  float: right;
  width: 400px;
  text-align: center;
  vertical-align: middle;
}

.plus {
  clear: both;
}

.plus-text {
  float: left;
  width: 380px;
  text-align: center;
}

.plus-text:last-child {
  margin-right: 0;
}

.offer {
  width: 440px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.search {
  width: 570;
  margin-right: auto;
  margin-left: auto;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  clear: both;
}

.tag {
  float: left;
  width: 180px;
}

.footer-social {
  float: left;
  width: 180px;
}

.footer-copyright {
  float: right;
  width: 180px;
}

.selection-criteria {
  clear: both;
}

.infrastructure {
  float: left;
  width: 240px;
}

.dwelling {
  float: left;
  width: 240px;
}

.price {
  float: right;
  width: 327px;
}

.searching-result {
  float: left;
  width: 116px;
  clear: both;
}

.sorting {
  float: left;
  width: 356px;
}

.housing {
  clear: both;
  min-height: 150px;
}

.housing-img {
  float: left;
  width: 135px;
}

.info {
  float: left;
  width: 715px;
}

.housing-rating {
  float: right;
  width: 168px;
}

fieldset {
  border: none;
}

.hotel-name {
  text-align: left;
}

.housing-info {
  clear: both;
}

.housing-type {
  float: left;
  width: 80px;
}

.housing-price {
  float: left;
  width: 70px; 
}

.button {
  clear: both;
}